/* Utility styling */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2%;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 2vw;
}

.stopwatch {
    padding: 1%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopwatch p {
    margin-bottom: 5%;
}

.top {
    width: 4vw;
    height: 1.5vw;
    background: black;
    border-radius: 0.6vw 0.6vw 0.3vw 0.3vw;
    margin-bottom: 0.1%;
}

.middle {
    width: 1.2vw;
    height: 1.2vw;
    background: black;
    border-radius: 0.3vw;
}

.circle {
    width: 20vw;
    height: 20vw;
    border: solid 0.4vw black;
    border-radius: 100%;
    margin: 0.2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.circle div {
    width: 2.5vw;
}

span {
    margin: 0 1%;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

button {
    width: 7vw;
    height: 2.5vw;
    font-size: 1.2vw;
    flex: 1;
    margin: 5% 2%;
    cursor: pointer;
    font-family: 'Baloo Bhaijaan 2', cursive;
    background: #ccc;
    border: none;
    border-radius: 0.5vw;
}

.seperator {
    width: 0.4vw;
    border: solid 2px black;
    background: black;
    border-radius: 20px;
}

.timer {
    flex: 1;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 790px) {
    
    body {
        flex-direction: column;
        align-items: center;
        font-size: 5vw;
    }

    .seperator {
        width: 90%;
        margin: 2% 0;
    }

    .top {
        width: 5vw;
        height: 3vw;
    }

    .middle {
        width: 1.5vw;
        height: 1.5vw;
        margin: 0.5% 0;
    }

    .circle {
        width: 40vw;
        height: 40vw;
    }

    .circle div {
        width: 7vw;
    }

    span {
        margin-right: 4%;
    }

    button {
        width: 18vw;
        height: 5vw;
        font-size: 3vw;
    }

  }